    .container-fluid {
        padding: 0;
    }
    
    .navbar-header {
        width: 100%;
    }
    
    .navbar {
        padding: 2px 0;
    }
    
    .container-fluid>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    
    .tab-all a.active {
        box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%), 0 13px 24px -11px rgb(53 60 72);
    }
    
    .nav-select {
        border: 0;
        padding: 0;
        height: auto;
        margin: 0;
        background-color: #353c48;
        color: #fff;
    }
    
    .nav-select:active {
        border: 0;
        box-shadow: none;
        padding: 0;
        height: auto;
        margin: 0;
        background-color: #353c48;
        color: #fff;
    }
    
    .nav-select:focus {
        border: 0;
        padding: 0;
        box-shadow: none;
        height: auto;
        margin: 0;
        background-color: #353c48;
        color: #fff;
    }
    
    #exam-content h2 {
        margin-top: 0px !important;
    }
    
    #exam-content p {
        line-height: 30px !important;
        font-size: 15px !important;
    }
    
    #exam-content p span {
        line-height: 30px !important;
        font-size: 15px !important;
    }
    
    #exam-content li span {
        line-height: 30px !important;
        font-size: 15px !important;
    }
    
    #exam-content table {
        width: 100% !important;
    }
    
    #exam-content table td {
        font-size: 15px !important;
    }
    
    #exam-content table th {
        font-size: 16px !important;
        background-color: #343a40 !important;
        color: #fff !important;
    }
    
    #exam-content .table-responsive {
        width: 100% !important;
    }
    
    #exam-content div {
        width: 100% !important;
    }
    
    .search-result ul li {
        color: #000;
        width: 100%;
        background-color: #fff;
        line-height: 20px;
        text-align: left;
        box-shadow: 0px 3px 7px 0px #403d3d;
    }
    
    .search-result ul li a {
        padding: 10px;
        color: #000;
        margin: 0;
    }
    
    .search-result ul {
        box-shadow: 0px 3px 7px 0px #403d3d;
    }
    
    .menu {
        position: absolute;
        top: 0;
        background-color: #fff;
        height: 100vh;
        width: 20%;
        right: -400px;
        transition: all 0.5s;
        box-shadow: 15px 0px 38px #ccc;
    }
    
    .menu-open {
        right: 0 !important;
    }
    
    .menu-close {
        right: -400px !important;
    }
    
    .menu ul li {
        color: #000;
        width: 100%;
        line-height: 30px;
    }
    
    .menu ul li a {
        color: #000;
        width: 100%;
        line-height: 30px;
        font-size: 15px;
        padding: 10px 20px;
    }
    
    .logo-main {
        width: 72px;
        box-shadow: 0px 5px 11px 0px #000;
        border-radius: 100%;
    }
    
    .site-name {
        padding: 0px;
        font-size: 30px !important;
        text-transform: uppercase;
        text-align: center;
    }
    
    .site-name-main {
        position: absolute;
        top: 13px;
    }
    
    .back-arrow {
        position: absolute;
        top: 23px;
        left: 10px;
        height: 10px !important;
        line-height: 10px !important;
    }
    
    .app-icon {
        line-height: 0px !important;
        margin: auto;
    }
    
    .app-icon img {
        width: 100%;
    }
    
    .app-icon a {
        padding: 10px !important;
    }
    
    .app-icon .android {
        color: green;
    }
    
    .menu-header {
        background-color: #353c48;
        line-height: 100px;
    }
    
    .search-icon {
        display: none !important;
    }
    
    .user_profile {
        position: absolute;
        top: 0;
        right: 60px;
    }
    
    .user_profile .dropdown-menu {
        margin-top: -5px !important;
        border-radius: 4px;
    }
    
    .user_profile .user_dw_menu li {
        width: 100%;
        line-height: 40px;
    }
    
    .user_profile .user_dw_menu li i {
        height: auto;
        line-height: 40px;
        margin-right: 7px;
    }
    
    .user_profile ul a {
        display: inline-flex;
        width: 100%;
        color: #353c48;
    }
    
    .user-name {
        font-size: 18px;
    }
    
    .profile-header {
        border-radius: 8px 8px 0 0px;
    }
    
    .tox-notification {
        display: none;
    }
    
    .blog-title {
        font-size: 18px;
        font-weight: bolder;
    }
    
    .one-line {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    
    .two-line {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    
    .three-line {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .search-part {
        display: none;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 8px 0px;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0 0 58px 3px #000;
        transition: all 5s;
    }
    
    .search-part button {
        position: absolute;
        top: 15px;
        border: 0;
        background-color: transparent;
        right: 10px;
    }
    
    #pagination nav {
        background-color: transparent;
        line-height: 20px;
        height: auto;
        box-shadow: none;
        text-align: center;
    }
    
    #pagination nav .paginaion {
        margin: 0;
        /* display: flex; */
        display: inline-block;
        justify-content: center;
    }
    
    #pagination nav .paginaion li.disabled {
        display: none;
    }
    
    #pagination nav .paginaion .page-item.active .page-link {
        border-radius: 0 !important;
    }
    
    .theme-black .page-item.active .page-link {
        border-radius: 0 !important;
    }
    
    .theme-black .page-item.active:hover .page-link {
        background-color: #353c48 !important;
    }
    
    .theme-black .page-item:hover .page-link {
        background-color: lightgray;
    }
    /* side button */
    
    .fl-fl {
        background: #353c48;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 11px 0px;
        width: 221px;
        position: fixed;
        right: -178px;
        z-index: 1000;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        color: #ffffff;
    }
    
    .fl-fl:hover {
        cursor: pointer;
    }
    
    .fa {
        font-size: 50px;
        color: #fff;
        padding: 10px 0;
        width: 40px;
        margin-left: 8px;
    }
    
    .fl-fl:hover {
        right: 0;
    }
    
    .fl-fl a {
        color: #fff !important;
        text-decoration: none;
        text-align: center;
    }
    
    .float-si {
        top: 180px;
    }
    
    .float-su {
        top: 240px;
    }
    
    .float-c {
        top: 320px;
    }
    
    i {
        font-size: 20px;
        margin-left: 9px;
    }
    /* side button end */
    /* accordian */
    /* .acc .grid-l1 {
        width: 500px;
        height: auto;
        min-height: 500px;
        overflow: hidden;
        padding: 10px;
        background: #000;
    } */
    
    .acc .header {
        width: 100%;
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        letter-spacing: 1px;
        margin: 0px !important;
        background: #353c48;
        color: #fff;
        line-height: 34px;
    }
    
    .acc .p {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 5px;
    }
    
    .acc .level-box {
        width: 100%;
        height: auto;
        overflow: hidden;
        border: 1px solid #353c48;
        border-top: 0px;
        display: none;
    }
    
    .acc .box-a1 {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 5px 0px;
    }
    
    .filter i {
        font-size: 14px;
        padding: 10px 10px;
        background: #353c48;
    }
    
    .filter .fa {
        width: 35px;
    }
    
    .filter {
        display: none;
    }
    
    .examcount {
        display: block;
    }
    
    .read_more {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    
    .card .header h2 {
        font-weight: bold !important;
    }
    
    .blog-card-image {
        height: 334px;
        object-fit: contain;
    }
    
    .scroll-loader {
        width: 50px;
        height: 50px;
        opacity: 0.2;
        /* margin: -60px 0 20px -20px; */
        -webkit-animation: spin 1.5s linear infinite;
        -moz-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    
    .level-box img.currentaffair-img {
        border-radius: 0;
    }
    
    .comment-btn i {
        line-height: 35px;
        padding: 0px 10px !important;
        border-radius: 16px;
        border: 1px solid;
        cursor: pointer;
    }
    
    .comment-button a {
        color: #000;
    }
    
    .comment-button a:hover {
        color: #000;
    }
    
    .comment-reply i {
        font-size: 12px;
    }
    
    input.blogmessage:focus {
        box-shadow: none !important;
    }
    
    .blogpost .post-action a {
        color: #555;
    }
    
    .blog-heading {
        background-color: white;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        color: #555;
    }
    
    .login-icon a {
        color: white !important;
    }
    
    .login-icon a i {
        font-size: 22px;
        position: absolute;
        right: 50px;
        top: 18px;
    }
    
    .login-icon a:hover {
        color: white !important;
    }
    
    .icon-color {
        color: #ee6d74;
    }
    
    .post_comment .replyinput {
        display: none;
    }
    
    .question-title {
        line-height: 30px !important;
    }